<h1 class="text-4xl font-bold text-clifford">Express</h1>
<h4 class="text-2xl">{{title}}</h4>
<ul>
  <li>Books: {{data.bookCount}}</li>
  <li>Authors: {{data.authorCount}}</li>
  <li>Genres: {{data.genreCount}}</li>
  <li>Copies: {{data.bookInstanceCount}}</li>
  <li>Copies available: {{data.bookInstanceAvailableCount}}</li>
</ul>